<section id="services_signin" class="services">
	<h2>
		Since things are more fun when we know each other, please sign in using an existing account:
	</h2>

	<div>
		<%= render "services_list" %>
	</div>

	<p class="small nomargin">
		Don't have any of these? Get your <%= link_to "MyOpenID", "http://www.myopenid.com/" %> or <%= link_to "GoogleID", "http://mail.google.com/mail/signup" %> now! 
	</p>
</section>