This page can be viewed by authenticated users only! <%= link_to "Click here", users_path %> to return to the main page.

<% @users.each do |user| %>
		<div class="service_userdata">
			<%= user.fullname if user.fullname != '' %>
		</div>
<% end %>